<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.immoc.com" target="_blank" class="links">慕课网</a> |
            <a href="https://www.baidu.com" target="_blank" class="links">百度</a> |
            <a href="https://www.taobao.com" target="_blank" class="links">淘宝</a> |
            <a href="https://www.zhihu.com" target="_blank" class="links">知乎</a>
        </div>
    </div>
    <p class="copyright">Copyright © 2020 chengxuxiaoyang.com All Right Reserved</p>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
